.app {
  min-height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  color: white;
  overflow: hidden;
  font-family: "Alegreya", serif;
}

.innerContainer {
  padding: 0 100px;
  width: auto;
  @media (max-width: 768px) {
    padding: 0 20px;
  }
}

.addHome {
  padding: 18px;
  font-size: 15px;
  margin-top: 20px;
  cursor: pointer;
  border: none;
  background-color: grey;
  color: white;
  font-weight: bold;
  border-radius: 7px;
  font-family: "Alegreya", serif;
}

h1 {
  margin-bottom: 2px;
  font-family: "Alegreya", serif;
  font-size: 70px;
  text-shadow: 2px 2px 2px rgba(53, 53, 53, 0.162);
  color: white;
}

.books {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: "Alegreya", serif;

  // BOOKS PAGE

  .book {
    flex: 0 0 calc(33.333% - 20px);
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2,
    h3,
    p,
    span {
      margin: 2;
      padding: 2;
    }
    h2 {
      margin-bottom: 5px;
    }
    h3 {
      margin-bottom: 4px;
    }
    p {
      margin-bottom: 9px;
      margin-top: 9px;
    }
    .bookprice {
      font-size: 30px;
      margin: 0;
      padding: 0;
    }

    img {
      width: 200px;
      height: 300px;
      object-fit: cover;
    }
    .rating-stars {
      font-size: 25px;
    }
    button {
      padding: 3px 6px;
      background-color: white;
      cursor: pointer;
      margin-bottom: 6px;
    }
    .delete {
      border: 1px solid rgb(194, 81, 81);
      background-color: rgb(194, 81, 81);
      color: white;
      border-radius: 8px;
      padding: 10px;
      width: 100px;
      font-size: 13px;
      font-family: "Alegreya", serif;
    }
    .update {
      border: 1px solid rgb(33, 130, 33);
      background-color: rgb(33, 130, 33);
      color: white;
      border-radius: 8px;
      padding: 10px;
      width: 100px;
      font-size: 13px;
      font-family: "Alegreya", serif;
    }
  }
}

// Background

.updateBackground {
  position: relative;
  min-height: 100vh;

  .backgroundOverlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: url("images/library.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.469);
      pointer-events: none;
    }
  }
}

.booksBackground {
  background-image: url("images/library.jpeg");
  background-size: cover;
  height: 100vh;
}

// Form inputs

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  input,
  textarea {
    width: 300px;
    font-family: "Alegreya", serif;
    padding: 10px;
    font-size: 16px;
    border: 1px solid lightgray;
    background-color: lightgrey;
    border-radius: 10px;
    margin: 0 auto;
    @media (max-width: 768px) {
      width: 250px;
    }
  }
  .rating-stars {
    margin-left: 12px;
    font-size: 35px;
  }

  button {
    width: 300px;
    border: none;
    padding: 10px;
    background-color: #d3d3d3c7;
    background-color: rgb(33, 130, 33);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    @media (max-width: 768px) {
      width: 250px;
    }
  }
}
